.me_nav__menu{
	list-style-type:none;
	text-align:center;
	margin-top:60px;
}
.me_nav__menu {
	li {
		display:inline;
		font-weight:700;
		padding:10px;
		letter-spacing:-1px;
		font-size:20px;
		text-transform: uppercase;
		border-radius: 5px;
		&:nth-child(1){
			background-color: $color-shade1;
		}
		&:nth-child(2){
			background-color: $color-shade2;
		}
	}
}
.me_nav__menu li:hover{
	letter-spacing:3px;
}

.me_nav__menu li a{
	color: $white-color;
}