<header>
  <div class="header__constraint">
    <!-- <div class="header__logo">
      <img src="/assets/images/me.png" alt="rachit gulati is awesome">
    </div> -->
    <h2>
      <a href="/" class="header__name_holder">
        <span class="header__name" data-content="RACHIT">Rachit</span>
      </a>
      <span class="header__petname">a.k.a <a href="https://twitter.com/squiroid" target="_blank">squiroid</a></span>
      <span class="header__tagline">Human Lover - Developer - Trekker</span>
    </h2>
  </div>
</header>