footer{
  @include outer-container;
  text-align:center;
}

.footer__social {
  @include outer-container;   
}

.footer__social a {
  color: #34495e;
  border: 2px solid transparent;
  border-radius: 0%;
  padding: 1em;
  position: relative;
  background: transparent;
  margin:0.5em;
  display:inline-block;
}

.footer__social a:hover {
  top: -2px;
  border-radius: 50%;
}

.footer__social a:nth-child(1) {
  color: #3b5998;
  border-bottom-color: #3b5998;
}

.footer__social a:nth-child(2) {
  color: #00a0d1;
  border-bottom-color: #00a0d1;
}

.footer__social a:nth-child(3) {
  color: #db4a39;
  border-bottom-color: #db4a39;
}

.footer__social a:nth-child(4) {
  color: #000;
  border-bottom-color: #000;
}

.footer__social a:nth-child(5) {
  color: #F48024;
  border-bottom-color: #F48024;
}

.footer__text{
  font-size: $small-font-size;
  letter-spacing:1px;
  margin-top:20px;
}
