@mixin a($width, $height: 55px){
	width: $width;
	height: $height;
    line-height: $height;
    position: relative;
	margin-top: -100px;
}

@mixin clip($string){
	-webkit-clip-path: $string;
	clip-path: $string;
}
@mixin grab{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.header__constraint {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4em;
    padding-top: 100px; 

}
.header__logo {
    position: absolute;
    width: 150px;
    top: 100px;
    left: calc(50% + 200px);
}
header h2 {
    clear: both;
    text-align:center;
}
.header__name_holder{
    border: none !important;
}
.header__name{
    font-family: "brandon-grotesque","Roboto","HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 70px;
    padding-top: 50px;
    display: inline-block;
    $w: 440px;
    $h: 200px;
    @include a($w,$h);
    &:before{
        content: url('/assets/images/me_1.png');
        color: #465154;
        transition:all .5s ease-in;
        @include grab;
        background-color: #fff;
        padding-top: 50px;
        @include clip(
            polygon(
                0% 100%,
                159px 188px,
                171px 185px,
                174px 185px,
                184px 182px,
                191px 183px,
                199px 179px,
                202px 176px,
                219px 158px,  
                225px 175px, 
                230px 172px,
                245px 179px,
                283px 184px,
                293px 187px, 
                311px 192px, 
                318px 191px, 
                357px 194px, 
                100% 100%
                )
            );
        @include animation(montanhaDaTristeza .5s forwards linear);
        
    }
    &:hover{
        &:before{
            @include animation(montanhaDaAlegria .9s forwards linear);
        }
    }
}
.header__petname {
    font-family: "brandon-grotesque","Roboto","HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
    font-weight: 700;
    color: #999;
    margin-top: 10px;
    font-size: 0.8em;
}
.header__tagline{
    font-weight: 500
}
header h2 span {
    display: block;
}
@include keyframes(montanhaDaAlegria){
	0%{
		@include clip(
			polygon(
				0% 100%,
				159px 188px,
				171px 185px,
				174px 185px,
				184px 182px,
				191px 183px,
				199px 179px,
				202px 176px,
				219px 158px,  
				225px 175px, 
				230px 172px,
				245px 179px,
				283px 184px,
				293px 187px, 
				311px 192px, 
				318px 191px, 
				357px 194px, 
				100% 100%
				)
			);
	}
	25%{
		@include clip(
			polygon(
				0% 100%,
				153px 176px,
				165px 174px,
				167px 173px,
				187px 155px,
				193px 161px,
				200px 147px,
				203px 149px,
				220px 129px,  
				226px 143px, 
				231px 140px,
				240px 154px,
				246px 147px,
				285px 171px, 
				295px 174px, 
				313px 178px, 
				329px 182px, 
				100% 100%
				)
			);
	}
	50%{
		@include clip(
			polygon(
				0% 100%,
				106px 149px,
				145px 128px,
				158px 119px,
				178px 101px,
				184px 107px,
				190px 92px,
				201px 87px,
				217px 66px,
				223px 81px,
				228px 78px,
				244px 94px,
				251px 87px,
				289px 113px,
				302px 125px,
				316px 140px,
				346px 163px,
				100% 100%
				)
			);
	}
	75%{
		@include clip(
			polygon(
				0% 100%,
				82px 132px,
				117px 97px,
				131px 93px,
				172px 65px,
				179px 76px,
				185px 77px,
				199px 68px,
				217px 44px,
				223px 58px,
				228px 55px,
				244px 60px,
				253px 42px,
				295px 79px,
				314px 87px,
				331px 88px,
				376px 145px,
				100% 100%
				)
			);
	}
	100%{
		@include clip(
			polygon(
				0% 100%,
				49px 99px,
				100px 53px,
				113px 68px,
				147px 29px,
				153px 40px,
				160px 42px, 
				187px 63px, 
				209px 11px, 
				215px 25px, 
				219px 21px, 
				244px 61px, 
				264px 0px, 
				311px 60px, 
				330px 79px, 
				349px 65px,  
				398px 107px, 
				100% 100%
				)

			);
	}
}