*{
		margin:0;
		padding: 0;
		}
		html,body{
			height: 100%;
			width: 100%;
		}
		canvas{
			display: block;
			background:url('../images/background.jpg');
			background-size: cover;
			cursor: url('../images/cursor.png')37 36, auto;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		canvas.hit{
			background: rgba(255,0,0,0.2);;
		}
		.count::selection{
			background: transparent;
		}
		.count {
			font-size: 10em;
			bottom: auto;
			top: 20%;
			color: rgba(0, 178,255, 1);
			pointer-events: none;
			position: absolute;
			width: 100%;
			font-family: sans-serif;
			text-align: center;
			text-shadow: 0px 3px 0px green,
    					0px 14px 10px rgba(0,0,0,0.15),
    					0px 24px 2px rgba(0,0,0,0.1),
    					0px 34px 30px rgba(0,0,0,0.1);
		}

		.instruction{
			font-size: 1.5em;
			bottom: auto;
			top: 50%;
			color: rgba(0, 0,0, 0.9);
			pointer-events: none;
			position: absolute;
			width: 100%;
			font-family: sans-serif;
			text-align: center;
		}
		.instruction ul, .instruction > li{
			padding: 0;
    		margin: 0;
		}
		.callout {
			display: inline-block;
			padding: 20px;
			position: absolute;
			background: white;
			border-radius: 8px;
			color: #333;
			left: 55%;
			top:-9999px;
			-webkit-user-select: none;
			-moz-user-select: none;
		}
		.callout.hit{
			top:50%;
		}
		.callout:after {
		  content: '';
		  position: absolute;
		  bottom: 20px;
		  right: 100%;
		  display: block;
		  border: 10px solid transparent;
		  border-right-color: white;
		}