<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body--{{page.title}}">
      <video poster="/assets/images/rachit.jpg" preload playsinline autoplay muted loop>
      <source src="/assets/about.webm" type="video/webm">
      </video>
      <div class="full-background"></div>
    <div class="container">
      {% include header.html %}
      {% include nav.html %}
      {% include google_analytics.html %}
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>
      {% include footer.html %}
  </body>

</html>
